body{
    background: url('asset home.png');
    background-size: 1440px 900px;
    background-repeat: no-repeat;
    height: 1000vh;
    background-position: 0 0;
    font-family: Helvetica;
}

.navbar ul{
    display: flex;
    /* margin-left: 450px; */
    margin-top: 50px;
    padding-left: 500px;
}

.navbar ul li{
    list-style: none;
    color: white;
    margin-left: 50px;
    font-size: 16px;  
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul .logo a{
    margin-left: -410px;
}

#signBtn{
    background: none;
    color: white;
    font-size: 16px;
    border: 2px solid #6C63FF;
    padding: 10px 32px;     
    border-radius: 35px;
    margin-top: -50px;
}

.navbar ul li a:hover{
    color: #6C63FF;
}

#signBtn:hover{
    background: #6C63FF;
}

#restBtn{
    background: #6C63FF;
    color: white;
    font-size: 20px;
    border: none;
    padding: 20px 32px;
    border-radius: 35px;
    margin-top: 550px;
    margin-left: 130px;
}

#restBtn:hover{
    background: #524DB8;
    font-size: 18px;
}
